<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top" style="background-color: var(--primary-color);">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <span style="color: #fff !important;">
                            <i class="fa fa-envelope"></i>
                            support@sweetmist.in
                        </span>
                    </div>
                    <div class="phone-service">
                        <span style="color: #fff !important;">
                            <i class="fa fa-phone"></i>
                            +91 9016971591
                        </span>
                    </div>
                </div>
                <div class="ht-right">
                    <a href="{% url 'account-list' %}" class="login-panel" style="color: #fff !important;"><i class="fa fa-user" style="color: #fff !important;"></i>Account</a>
                    <!-- <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="/static/img/flag-1.jpg" data-imagecss="flag yt"
                                data-title="English">English</option>
                            <option value='yu' data-image="/static/img/flag-2.jpg" data-imagecss="flag yu"
                                data-title="Bangladesh">German </option>
                        </select>
                    </div> -->
                    <div class="top-social">
                        <a href="#"><i style="color: #fff !important;" class="ti-facebook"></i></a>
                        <a href="#"><i style="color: #fff !important;" class="ti-twitter-alt"></i></a>
                        <a href="#"><i style="color: #fff !important;" class="ti-linkedin"></i></a>
                        <a href="#"><i style="color: #fff !important;" class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="{% url 'home-list' %}">
                                <img src="/static/SweetMistLogo.png" alt="logo" width="50%">
                                <!-- <img src="/static/img/logo.png" alt=""> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">All Categories</button>
                            <form action="#" class="input-group">
                                <input type="text" placeholder="What do you need?">
                                <button type="button"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <!-- <li class="heart-icon"><a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <span>1</span>
                                </a>
                            </li> -->
                            <li class="cart-icon">
                                <a href="#">
                                    <i class="icon_bag_alt"></i>
                                    <span id="cart_length">0</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="card text-center" id="empty_cart" style="display: none;">
                                        <div class="card-header text-sm-prm" style="background-color: var(--light-primary-color) !important;">
                                          Empty Cart
                                        </div>
                                        <div class="card-body">
                                          <h5 class="card-title text-sm-prm">You haven't added any products yet.</h5>
                                          <p class="card-text">It seems like you're new here. Start exploring our products and place your first order now!</p>
                                          <a href="{% url 'shop-list' %}" class="btn btn-sm-prm">Shop Now</a>
                                        </div>
                                        <div class="card-footer text-muted">
                                          Explore our products
                                        </div>
                                    </div>
                                    <div id="not_empty_cart" style="display: none;">
                                        <div class="select-items">
                                            <table id="cartTable">
                                                <!-- <tbody>
                                                    <tr>
                                                        <td class="si-pic"><img src="/static/img/output_image.webp" alt=""></td>
                                                        <td class="si-text">
                                                            <div class="product-selected">
                                                                <p>$60.00 x 1</p>
                                                                <h6>Kabino Bedside Table</h6>
                                                            </div>
                                                        </td>
                                                        <td class="si-close">
                                                            <i class="ti-close"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="si-pic"><img src="/static/img/select-product-2.jpg" alt=""></td>
                                                        <td class="si-text">
                                                            <div class="product-selected">
                                                                <p>$60.00 x 1</p>
                                                                <h6>Kabino Bedside Table</h6>
                                                            </div>
                                                        </td>
                                                        <td class="si-close">
                                                            <i class="ti-close"></i>
                                                        </td>
                                                    </tr>
                                                </tbody> -->
                                            </table>
                                        </div>
                                        <div class="select-total">
                                            <span>total:</span>
                                            <h5 id="cart_total"></h5>
                                        </div>
                                        <div class="select-button">
                                            <a href="{% url 'cart-list' %}" class="primary-btn view-card">VIEW CART</a>
                                            <a href="{% url 'check_out-list' %}?cart_checkout=True" class="primary-btn checkout-btn">CHECK OUT</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cart_total" id="cart_total_outer"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item" style="background-color: var(--primary-color);">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="nav-depart">
                            <div class="depart-btn" style="background-color: var(--primary-color);">
                                <i class="ti-menu"></i>
                                <span>All desserts</span>
                                <ul class="depart-hover">
                                    <li class="active"><a href="#">Cookies</a></li>
                                    <li><a href="#">Brownies</a></li>
                                    <li><a href="#">Cakes</a></li>
                                    <li><a href="#">Iced Chocolate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <nav class="nav-menu mobile-menu">
                            <ul class="m-0" style="background-color: var(--primary-color);">
                                <!-- <li><a href="{% url 'home-list' %}">Home</a></li> -->
                                <li><a href="{% url 'shop-list' %}">Shop</a></li>
                                <!-- <li><a href="#">Collection</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Men's</a></li>
                                        <li><a href="#">Women's</a></li>
                                        <li><a href="#">Kid's</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="{% url 'blog-list' %}">Blog</a></li>
                                <li><a href="{% url 'contact-list' %}">Contact</a></li>
                                <!-- <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                        <li><a href="./check-out.html">Checkout</a></li>
                                        <li><a href="./faq.html">Faq</a></li>
                                        <li><a href="./register.html">Register</a></li>
                                        <li><a href="./login.html">Login</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->


    <script>
        function updateCartTable(responseData) {
            var tableBody = document.createElement('tbody');

            responseData.items.forEach(function(item) {
            var newRow = tableBody.insertRow();
            var imageCell = newRow.insertCell(0);
            var productCell = newRow.insertCell(1);
            var cancelCell = newRow.insertCell(2);

            imageCell.innerHTML = '<img src="' + item.cart_image + '" alt="Product Image">';
            imageCell.classList.add('si-pic')

            productCell.innerHTML = '<div class="product-selected"><p>₹'+ item.price + ' x ' + item.qty +'</p><h6>' + item.title + '</h6></div>'
            productCell.classList.add('si-text')

            cancelCell.classList.add('si-close')
            cancelCell.innerHTML = '<i onclick="remove_cart_item_header('+item.id+')" class="ti-close"></i>'

            });

            var existingBody = document.querySelector('#cartTable tbody');
            if (existingBody) {
            existingBody.parentNode.replaceChild(tableBody, existingBody);
            } else {
            document.querySelector('#cartTable').appendChild(tableBody);
            }
            document.getElementById('cart_total').innerText = '₹ ' + responseData.cart_total
            document.getElementById('cart_total_outer').innerHTML = '₹ ' + responseData.cart_total
            document.getElementById('cart_length').innerHTML = responseData.len_of_item
        }

        async function generate_session() {
        try {
            const response = await fetch("{% url 'generate_session' %}", {
                method: 'GET'});
            
            const data = await response.json();
            console.log(JSON.stringify(data, null, 2))
            if (data.success == true){
               
            }
        } catch (error) {
            console.log(error.message)
        }
        }
        
        async function get_cart_details() {
        try {
            const response = await fetch("{% url 'cart-list' %}?is_api=True", {
                method: 'GET'});
            
            const data = await response.json();
            console.log(JSON.stringify(data, null, 2))
            if (data.success == true){
                if (data.empty_cart == true){
                    document.getElementById('empty_cart').style.display='block';
                    document.getElementById('not_empty_cart').style.display='none';
                }
                else{
                    document.getElementById('not_empty_cart').style.display='block';
                    document.getElementById('empty_cart').style.display='none';
                    updateCartTable(data);
                }
               
            }
        } catch (error) {
            console.log(error.message)
        }
        }
        
        async function remove_cart_item_header(item_id) {
            try {
                console.log('hello')
                console.log(item_id)
                const csrftoken = '{{ csrf_token }}';
                const response = await fetch("{% url 'cart-list' %}?item_id="+item_id, {
                    method: 'DELETE',
                    headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken
                        },
                });

                const data = await response.json();
                console.log(JSON.stringify(data, null, 2))
                if (data.success == true){
                    // location.reload()
                    get_cart_details()
                }
            } catch (error) {
                console.log(error.message)
            }
            }

        function startLoader() {
            $(".loader").fadeIn();
            $("#preloder").fadeIn("slow");
            }

        function stopLoader() {
            $(".loader").fadeOut();
            $("#preloder").delay(200).fadeOut("slow");
            }

        document.addEventListener('DOMContentLoaded', function() {
        generate_session();
        get_cart_details();
    });
    </script>
    